{% extends "chat/base.html" %}

{% block extra-style %}
<style>
    .chat-message > div {
        background-color: #3b3b3d;
        color: #e1e1e1;
        border-radius: 0.8em;
        padding: 0.4em;
        margin: 0.4em 0;
        display: inline-block;
        white-space: pre-wrap;
        max-width: 80%;
        word-wrap: break-word;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class ="row">
            <div class="col-sm-12">
                <div class="card" style="height: 600px; ">
                    <div class="card-header">
                        채팅방:{{ room.name }}
                    </div>
                    <div class="card-body overflow-hidden">
                        <div id="chat_messages" class="w-100 h-100 border-0 overflow-scroll"></div>
                    </div>
                    <div class="card-footer">
                        <form id="message_form">
                            <input type="text" name="message" class="form-control" autofocus autocomplete="off" />
                        </form>
                    </div>
                </div>
            <hr class="my-3"/>
            <a href="{% url 'chat:index' %}" class="btn btn-primary">대기실로 이동</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-script %}
    <script>
    const handlers={
        chat_messages_tag : null,

        {#광장~에 필요한 것 ws, retry#}
        ws: null,
        retry: 0,

        {#초기화#}
        init() {
            this.chat_messages_tag = document.querySelector("#chat_messages");
            document.querySelector("#message_form").addEventListener("submit", this.onsubmit.bind(this));
        },
        {#광장~ connect함수에서 WebSocket 객체를 생성#}
        connect(ws_url){
            {#웹소켓 재연결 시 명시적으로 연결 닫음#}
            if(this.ws){ this.ws.close();}
            {#지정 주소로 웹소켓 연결 시도#}
            this.ws = new WebSocket(ws_url || this.ws?.url);

            {#각 WebSocket 이벤트리스너의 this가 WebSocket이기에 이를 변경#}
            this.ws.onopen = this.onopen.bind(this);
            this.ws.onclose = this.onclose.bind(this);
            this.ws.onerror = this.onerror.bind(this);
            this.ws.onmessage = this.onmessage.bind(this);
         },
        reconnect(){
            this.connect();
        },
        {#채팅 메세지 로그 창 끝에서 새로운 메세지 추가#}
        append_message(message){
            const element = document.createElement("div");
            {#메세지 스타일링 목적#}
            element.className = "chat-message";

            const wrapper = document.createElement("div");
            wrapper.textContent = message;
            element.appendChild(wrapper);

            this.chat_messages_tag.appendChild(element);
            this.chat_messages_tag.scrollTop = this.chat_messages_tag.scrollHeight;
        },

        {#채팅 메세지 입력폼에 대한 submit event handler#}
        onsubmit(event) {
            {# submit 기본 동작을 무시#}
            event.preventDefault();

            const form_data = new FormData(event.target);
            const props = Object.fromEntries(form_data);
            {#reset form#}
            event.target.reset();

            const { message } = props;
            console.log("웹소켓으로 전송할 메세지 :", message);
            this.append_message(message);

            {#광장#}
            {#유저가 입력한 채팅 메세지를 바로 로그에 추가하지 않고#}
            {#웹소켓으로 type="chat.message"를 지정해 전송,#}
            {#본인의 채팅 메세지도 웹소켓 ChatConsumer를 통해 전달받음#}
            this.ws.send(JSON.stringify({
                type : "chat.message",
                message : message,
             }))
        },
        {#광장~ WebSocket 객체에 대해 open, message, error, close 이벤트에 대한 이벤트 리스너 할당#}
        {#open은 console.log만 출력#}
        onopen(){console.log("웹소켓 서버와 접속");this.retry=0;},

       {#네트워크 단절에 따른 웹소켓 close 상황에서 최대 3회까지 연결 재시도#}
        onclose(event){
            if(!event.wasClean){
                console.error("웹소켓 서버가 죽었거나, 네트워크 장애입니다.");
                if(this.retry<3){
                    this.retry+=1;
                    setTimeout(() => {
                        this.reconnect();
                        console.log(`[${this.retry}] 접속 재시도 ...`);
                    }, 1000 * this.retry);
                }
                else{
                    console.log("웹소켓 서버에 접속할 수 없습니다. 대기실로 이동합니다.");
                    window.location.href="{% url 'chat:index' %}";
                }
            }
         },
        onerror(){
            console.log("웹소켓 에러가 발생했습니다. 대기실로 이동합니다.");
            window.location.href="{% url 'chat:index' %}";
         },
        {#type이 chat.message인 메세지 수신 시 append_message 함수를 통해 채팅 메세지 로그에 메세지 추가#}

        onmessage(event){
            const message_json = event.data;
            console.log("메세지 수신: ", message_json);

            const {type, message} = JSON.parse(message_json);
            {#메세지 타입에 따라 분기#}
            switch (type){
                case "chat.message":
                    this.append_message(message);
                    break;
                default:
                    console.error(`Invalid message type: ${type}`);
            }
         },
    };
    handlers.init();
    {#room_chat 뷰 라우팅 주소에 맞춰 ChatConsumer 클래스에 URL이 할당되었기 떄문에#}
    {#/ws주소를 추가해 웹소켓 주소를 계산하고 connect 함수를 호출#}
    const protocol = location.protocol === "http:" ? "ws:" : "wss:";
    {#chat/urls.py 상의 room_chat 경로에 "ws/"를 붙여 chat/routers.py상의 주소를 맞춰둠#}
    const ws_url = protocol + "//" + location.host + "/ws" + location.pathname;
    handlers.connect(ws_url)
    </script>
{% endblock %}