{% extends "accounts/base.html" %}
{% block extra-style %}
<style>
    .borderbox {
        border-color: rgb(224, 224, 224);
        border-style:double;
        border-radius: 0.8em;
        padding: 0.4em;
    }
</style>

{% endblock %}
{% block content %}
<div class="borderbox">
    <h3 class="p-4 text-info fw-bold ">{{ user.username }} 's profile 📝</h3>

    <ul class="fs-5 mt-4 text-info text-decoration-none fw-bold">
        <li>UserName : {{ user.username }}</li>
        <li>Last Login : {{ user.last_login }}</li>
    </ul>
</div>
{% endblock %}